* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: sans-serif;
}

body {
    background: rgb(155,91,211);
    background: linear-gradient(45deg, rgba(155,91,211,1) 0%, rgba(244,144,118,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

input {
    background: none;
    border: none;
}

input:focus {
    outline: none;
}

.span-container {
    background-color: #1C2C44;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.resultado {
    color: white;
}

.operacion {
    color: white;
    width: 100%;
    height: 100%;}

.formulario {
    background-color: #253E5C;
    width: 320px;
    height: 550px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    padding: 0px 20px;
}

.filas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-btn {
    background-color: #1C2C44;
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    margin: 2px;
}

.inputs-btn:hover {
    transition: 0.3s;
}

.suma, .resta, .multiplicacion, .division {
    background: rgb(255,178,158);
    background: linear-gradient(45deg, rgba(255,178,158,1) 0%, rgba(255,155,131,1) 31%, rgba(255,102,62,1) 100%);
}

.suma {
    width: 122px;
}

.submit-btn {
    width: 122px;
    height: 60px;
    border-radius: 20px;
    background: rgb(242,122,170);
    background: linear-gradient(45deg, rgba(242,122,170,1) 0%, rgba(251,49,142,1) 100%);
}

.reset {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.del {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
